@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

*{
  margin: 0 ;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;

  align-items: center;
}

a{
  color: #495867;
}

.full{
  margin-left: 0px;
  margin-right: 0px;
  text-align: justify;
  background-color: F8F9FB
}

.container1{
  color: #C7F9CC;
  background-color: #22577A;
  font-family: 'Caveat', Consolas;
  font-size: 30px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.container2{
  color: #E63946;
  font-family: 'Caveat', Consolas;
  font-size: 30px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.container3{
  color: #FFECD1;
  background-color: #15616D;
  font-family: 'Caveat', Consolas;
  font-size: 30px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.container4{
  color: #78290F;
  font-family: 'Caveat', Consolas;
  font-size: 30px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
.container5{
  color: #FFE1A8;
  background-color: #472D30;
  font-family: 'Caveat', Consolas;
  font-size: 30px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.container6{
  color: #004733;
  font-family: 'Caveat', Consolas;
  font-size: 30px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
.container7{
  color: #FFD60A;
  background-color: #001D3D;
  font-family: 'Caveat', Consolas;
  font-size: 30px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #495867;
}

.active{
  color: #FE5F55;
  font-size: 18px;
}

.symbol{
  font-size: 18px;
}


.footer ul{
  display: flex;
  justify-content: space-around;
  background-color: #F7F7FF;
}

.footer li{
  background-color: #F7F7FF;
}

.marg{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 30px
}

.hbd{
  font-size: 38px;
}
